.diagram {
    padding: 1rem;
    border-radius: 17px;
    background-color: linear-gradient(to top, #547a82, #a2d4a8);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 160px;
    margin: 10px;
  }
  